@use "variables" as *;


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 48em;
  margin-inline: auto;
  padding-inline: clamp(0.5rem, 5vw, 1rem);
}
body {
  font-family: $ff-primary;
  font-weight: $fw-400;
  line-height: $line-height-m;
  color: $clr-text-600;
  font-size: 1rem;
  min-height: 100vh;
  background-color: $clr-bg-100;
}

.card {
  background-color: #fff;
  padding: calc($padding-xl * 2);
  border-radius: $radius-l;
  &__img {
    border-radius: $radius-m;
    margin-inline: auto;
  }
  &__title {
    font-family: $ff-secondary;
    font-size: $fs-700;
    font-weight: $fw-500;
    color: $clr-head-900;
    margin-block: $padding-m $padding-xs;
  }
  &__prep {
    background-color: $clr-bg-50;
    margin-block: $padding-xl;
    padding: $padding-m * 2;
    &-title {
      font-size: $fs-450;
      font-weight: $fw-500;
      color: $clr-accent;
      margin-bottom: $padding-s;
    }
    &-list {padding-left: $padding-xl;}
    &-item {
      list-style: outside;
      line-height: $line-height-l;
      padding-left: $padding-xl;
      & span {
        font-weight: $fw-700;
      }
    }
  }
}