@use "variables" as *;
@use "mixins" as *;


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 48em;
  margin-inline: auto;
  padding-inline: clamp(0.5rem, 5vw, 1rem);
}
body {
  font-family: $ff-primary;
  font-weight: $fw-400;
  font-size: $fs-400;
  line-height: $line-height-m;
  color: $clr-text-600;
  min-height: 100vh;
  background-color: $clr-bg-100;
}

.card {
  background-color: #fff;
  padding: $padding-xl * 2;
  border-radius: $radius-l;
  margin-block: $padding-xl * 3;

  hr {
    border: 1px solid $clr-bg-150;
    transform: scaleY(0.5);
    margin-block: $padding-xl;
  }
  ul, ol {padding-left: $padding-s;}
  
  &__img {
    border-radius: $radius-m;
    margin-inline: auto;
  }
  &__title {
    font-family: $ff-secondary;
    font-size: $fs-700;
    font-weight: $fw-500;
    color: $clr-head-900;
    margin-block: $padding-m $padding-xs;
  }
  &__prep {
    background-color: $clr-bg-50;
    margin-block: $padding-xl;
    padding: $padding-m * 2;
    border-radius: $radius-m;
    &-title {
      font-size: $fs-450;
      font-weight: $fw-500;
      color: $clr-accent;
      margin-bottom: $padding-m;
    }
    &-item {
     @include marker-bullet($clr-accent)
    }
  }

  &__section {
    &-title {
      font-family: $ff-secondary;
      font-size: $fs-550;
      color: $clr-head-800;
      margin-bottom: $padding-s;
    }
    ul {
      li {
        @include marker-bullet($clr-head-800)
      }
    }
    ol {
      counter-reset: item;
      li {
        @include marker-number($clr-head-800, item)
      }
    }
  }
  &__nutrition-table {
    width: 100%;
    text-align: left;
    line-height: $line-height-l;
    
    tr {
      th, td {width: 50%;}
      th {
        padding-left: $padding-xl * 2;
        padding-block: $padding-s;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid $clr-bg-150;
      }
      td {
        font-weight: $fw-700;
        color: $clr-head-800;
      }
    }

  }
}