//colors and fonts

$clr-head-900: hsl(24, 5%, 18%); //main head
$clr-head-800: hsl(14, 45%, 36%); //secondary headings, numbered list, bullets

$clr-text-600: hsl(30, 10%, 34%)
;
$clr-accent: hsl(332, 51%, 32%); // prep time head, bullets

$clr-bg-150: hsl(30, 18%, 87%);
$clr-bg-100: hsl(30, 54%, 90%);
$clr-bg-50: hsl(330, 100%, 98%);

$ff-primary: Outfit, sans-serif;
$ff-secondary: "Young Serif", serif;

$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;

$fs-700: clamp(2rem, 1.5466rem + 2.0725vw, 2.5rem);
$fs-600: clamp(1.75rem, 1.5233rem + 1.0363vw, 2rem);
$fs-550: clamp(1.5rem, 1.2733rem + 1.0363vw, 1.75rem);
$fs-500: clamp(1.25rem, 1.0233rem + 1.0363vw, 1.5rem);
$fs-450: clamp(1rem, 0.7733rem + 1.0363vw, 1.25rem);
$fs-400: clamp(0.875rem, 0.7617rem + 0.5181vw, 1rem);

//spacings
$base-padding: 0.25em;

$padding-xl: $base-padding * 5;
$padding-l: $base-padding * 4;
$padding-m: $base-padding * 3;
$padding-s: $base-padding * 2;
$padding-xs: $base-padding;

$line-height-xs: 1;
$line-height-s: 1.25;
$line-height-m: 1.5;
$line-height-l: 2;
$line-height-xl: 2.5;

// radius
$radius-base: 0.2em;

$radius-xs: $radius-base;
$radius-s: $radius-base * 2;
$radius-m: $radius-base * 4;
$radius-l: $radius-base * 6;
$radius-xl: $radius-base * 8;
