//colors and fonts

$clr-head-900: hsl(24, 5%, 18%); //main head
$clr-head-800: hsl(14, 45%, 36%); //secondary headings, numbered list, bullets

$clr-text-600: hsl(30, 10%, 34%)
;
$clr-accent: hsl(332, 51%, 32%); // prep time head, bullets

$clr-bg-100: hsl(30, 54%, 90%);
$clr-bg-50: hsl(330, 100%, 98%);